@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin);

/* header */
#header {
	background: #12326E;
	padding: 20px;
}

h1 {
	font-size: 40px;
	font-family: 'Lobster', arial, serif;
	margin-left: 80px;
}

h1 > a, h1 > a:hover {
	outline: none;
	color: #FFF;
	text-decoration: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #B1C6FD;
}

/* main feed */
#feed {
	background: #FFF;
	margin: 25px auto 30px auto;
	padding: 15px;
	width: 763px;
	font-size: 14px;
	-moz-border-radius:1ex;
	-webkit-border-radius:1ex;
}

.profile-pic {
	width: 50px;
}

.entry, .profile-pic {
	padding: 7px 0px 7px 0px;
}

.message, .message:hover {
	color: #000;
	text-decoration: none;
}

a {
	color: #0033CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border-style: none;
}

td {
	vertical-align: top;
}

table {
	width: 100%;
}

hr {
	color: #B1C6FD;
	background: #B1C6FD;
	height: 1px;
	border: 0px;
	margin: 0;
	padding: 0;
}

.entry {
	margin-left: 10px;
}

.status:hover {
	background: #EDEDED;
}

.status_info {
	font-size: 10px;
	color: #999;
	margin-top: 5px;
}

/* load older posts button */
a.button {
	width: 100%;
	display: block;
	margin-top: 15px;
	padding: 15px 0px 15px 0px;
	border: solid 1px;
	border-color: #B1C6FD;
	color: #12326E;
	-moz-border-radius:1ex;
	-webkit-border-radius:1ex;
	outline: none;
}

a.button:hover {
	background: #B1C6FD;
	border-color: #12326E;
	text-decoration: none;
}

.load {
	margin: 10px;
}

#ajax {
	text-align: center;
	margin-top: 15px;
	display: none;
}

/* footer */
#footer {
	font-size: 12px;
	background: #12326E;
	color: #999;
	text-align: center;
	width: 100%;
}

#footer-nav {
	list-style-type: none;
	padding: 10px 0px 5px 0px;
}

#footer-nav li {
	display: inline;
	padding: 0px 10px 0px 10px;
}

#footer a {
	color: #D8D8D8;
}

/* sticky footer styles */
html, body {
	height: 100%;
}

#container {
	min-height: 100%;
}

#content {
	overflow: auto;
	padding-bottom: 50px;
}

#footer {
	position: relative;
	margin-top: -50px;
	height: 50px;
	clear: both;
}

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}