@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin);

/* header */
#header {
	background: #062D74;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#011437', endColorstr='#062D74'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#011437), to(#062D74)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #011437,  #062D74); /* for firefox 3.6+ */
	display: block;
	clear: both;
	padding: 20px;
}

.col-width {
	margin: auto;
	width: 763px;
}

/* Logo */
#logo {
	float: left;
}

#header h1 {
	font-size: 40px;
	font-family: 'Lobster', arial, serif;
	display: inline;
}

#header h1 > a, #header h1 > a:hover {
	outline: none;
	color: #FFF;
	text-decoration: none;
}

/* Nav bar */
#navigation {
	display: inline;
	padding: 20px;
	float: right;
}

#navigation ul {
	display: inline;
	list-style-type: none;
}

#navigation li {
	display: inline;
	margin-left: 40px;
}

.nav {
	padding: 5px 10px;
}

#navigation a, #navigation a:hover {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
}

#selected, #navigation a:hover > .nav {
	background: #4C4F56;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #C7D7F6;
	min-width: 960px;
}

/* main feed */
#feed {
	background: #FFF;
	margin: 25px auto 10px auto;
	padding: 15px;
	width: 763px;
	font-size: 14px;
	-moz-border-radius:1ex;
	-webkit-border-radius:1ex;
}

table {
	table-layout: fixed;
	width: 100%;
}

.profile-pic {
	width: 50px
}

.profile-pic-large {
	width: 200px;
	padding: 7px 0px;
}

.entry, .profile-pic {
	padding: 7px 0px 7px 0px;
}

.message, .message:hover {
	color: #000;
	text-decoration: none;
	word-wrap: break-word;
}

a {
	color: #0033CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border-style: none;
}

td {
	vertical-align: top;
}

hr {
	color: #C7D7F6;
	background: #C7D7F6;
	height: 1px;
	border: 0px;
	margin: 0;
	padding: 0;
}

.entry {
	margin-left: 10px;
}

.status:hover {
	background: #EDEDED;
}

.status_info {
	font-size: 10px;
	color: #999;
	margin-top: 5px;
}

/* load older posts button */
a.button {
	width: 100%;
	display: block;
	margin-top: 15px;
	padding: 15px 0px 15px 0px;
	border: solid 1px;
	border-color: #C7D7F6;
	color: #062D74;
	-moz-border-radius:1ex;
	-webkit-border-radius:1ex;
	outline: none;
}

a.button:hover {
	background: #C7D7F6;
	border-color: #062D74;
	text-decoration: none;
}

.load {
	margin: 10px;
}

#ajax {
	text-align: center;
	padding-top: 15px;
	display: none;
}

/* ads */
#bottom_ad {
	padding-bottom: 10px;
}

/* footer */
#footer {
	font-size: 12px;
	background: #062D74;
	color: #999;
	width: 100%;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#062D74', endColorstr='#011437'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#062D74), to(#011437)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #062D74,  #011437); /* for firefox 3.6+ */
	display: block;
	clear: both;
}

#copyright {
	float: right;
	padding-top: 20px;
}

#footer-nav {
	list-style-type: none;
	float: left;
	padding-top: 20px
}

#footer-nav li {
	display: inline;
	margin-right: 20px;
}

#footer a {
	color: #FFF;
}

/* sticky footer styles */
html, body {
	height: 100%;
}

#container {
	min-height: 100%;
	width: 100%;
}

#content {
	overflow: auto;
	padding-bottom: 50px;
}

#footer {
	position: relative;
	margin-top: -50px;
	height: 50px;
	clear: both;
}

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}