{% extends "index.html" %}

{% block title %}FMLFeed - About{% end %}

{% block nav %}
<li><a href="/"><span class="nav">newest</span></a></li>
<li><a href="about"><span id="selected" class="nav">about</span></a></li>
{% end %}

{% block content %}
<h1>About</h1>
<hr/><br/>
<p>FMLFeed is the go-to website to see FMLs from around the world. FMLFeed filters through public Facebook statuses in order to find the very best FMLs for you to read. With a source of over 500 million people, there are always new FMLs being published to the feed. FMLFeed is still currently in Beta and new features will go live over the coming months so keep an eye on this space and the <a href="http://www.fmlfeed.tumblr.com">blog</a> for more details.<p>
<br/>
<h3>How do I add my own FML?</h3>
<br/>
<p>This is actually the easiest part since you can submit a FML directly from facebook. Simply sign into facebook and post a status with the term "FML" included. Just make sure that you make it public (share it with "Everyone") or the FMLFeed system won't be able to detect it!</p><br/>
<center><img src={{ static_url("images/public_status.png") }} /></center>
<br/>
<h3>So what is an FML?</h3>
<br/>
<p>I'm happy you asked! FML stands for "f*** my life" and it is commonly used after describing a situation which... well... sucks. This phrase is usually used in more of a sarcastic and funny context so the stories associated with its use are often incredibly entertaining to read.<p>
<br/>
<h3>Want to request a feature? Report a bug?</h3>
<br/>
<p>You can contact the FMLFeed team at <a href="mailto:support@fmlfeed.com">support@fmlfeed.com</a>. We're always looking for new ideas!<p>
{% end %}