{% extends "index.html" %}

{% block meta %}
<meta name="description" content="{{ escape(post["message"]) }}"/>
<meta property="og:title" content="{{ escape(post["from"]["name"]) }}'s fml"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="http://www.fmlfeed.com/{{ idTo36(post["id"]) }}"/>
<meta property="og:description" content="{{ escape(post["message"]) }}"/>
{% end %}

{% block title %}FMLFeed - {{ escape(post["from"]["name"]) }}'s FML{% end %}

{% block nav %}
<li><a href="/"><span class="nav">newest</span></a></li>
<li><a href="about"><span class="nav">about</span></a></li>
{% end %}

{% block content %}
<table>
{% module Fml(post, False) %}
</table>
{% end %}
