{% extends "index.html" %}

{% block meta %}
<meta property="og:title" content="{{ escape(post["from"]["name"]) }}'s status"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="http://www.fmlfeed.com/{{ idTo36(post["id"]) }}"/>
{% end %}

{% block title %}FMLFeed - {{ escape(post["from"]["name"]) }}'s FML{% end %}

{% block nav %}
<li><a href="http://localhost:8888"><span class="nav">newest</span></a></li>
<li><a href="http://localhost:8888/about"><span class="nav">about</span></a></li>
{% end %}

{% block content %}
<table id="table">
{{ modules.Fml(post, False) }}
</table>
{% end %}