<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:og="http://opengraphprotocol.org/schema/"
	  xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<link rel="stylesheet" type="text/css" href={{ static_url("css/reset.css") }} />
		<link rel="stylesheet" type="text/css" href={{ static_url("css/custom.css") }} />
		<script type="text/javascript" src={{ static_url("js/jquery.js") }}></script>
		<script type="text/javascript" src={{ static_url("js/fml.js") }}></script>
		<!--[if !IE 7]>
			<style type="text/css">
				#container {display:table;height:100%}
			</style>
		<![endif]-->
		<title>{% block title %}FMLFeed - Alpha{% end %}</title>
		<meta property="fb:app_id" content="142409489144762"/>
		<meta property="og:site_name" content="Fmlfeed"/>
		<meta property="og:description" content="See realtime fmls from over 500 million users! You will be surprised by how many people are having a bad day. Entertaining and addictive."/>
		{% block meta %}
		<meta property="og:title" content="Fmlfeed"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://www.fmlfeed.com"/>
		{% end %}
	</head>
	<body>
		<div id="fb-root"></div>
		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId: '142409489144762',
					status: true,
					cookie: true,
					xfbml: true
				});
			};
			(function() {
				var e = document.createElement('script');
				e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
				e.async = true;
				document.getElementById('fb-root').appendChild(e);
			}());
		</script>
		<div id="container">
			<div id="content">
				<span id="top"></span>
				<div id="header">
					<div class="col-width">
						<h1><a href="http://localhost:8888">FMLFeed</a></h1>
						<div id="navigation">
							<ul>
								{% block nav %}
								<li><a href="http://localhost:8888"><span id="selected" class="nav">newest</span></a></li>
								<li><a href="http://localhost:8888/about"><span class="nav">about</span></a></li>
								{% end %}
							</ul>
						</div>
					</div>
				</div>
				<div id="feed">
					{% block content %}
					<table id="table">
						{% for post in posts %}
							{% if "message" in post and len(post["message"]) > 10 %}
								{{ modules.Fml(post) }}
							{% end %}
						{% end %}
					</table>
					<input type="hidden" value={{ url }} id="next" name="next" autocomplete="off" />
					<div id="ajax">
						<img class="ajax" src={{ static_url("images/ajax-loader.gif") }} />
					</div>
					<a class="button" href="" onclick="return false;"><span class="load">&#9660; Load older posts</span></a>
					{% end %}
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="col-width">
				<div id="copyright">
					© 2010 FMLfeed
				</div>
				<div id="footer-nav">
					<ul>
						<li><a href="http://localhost:8888/about">About</a></li>
						<li><a href="http://www.fmlfeed.tumblr.com">Blog</a></li>
						<li><a href="http://localhost:8888/team">Team</a></li>
						<li><a href="mailto:craig@craigsc.com">Feedback</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>