<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<link rel="stylesheet" type="text/css" href={{ static_url("css/reset.css") }} />
		<link rel="stylesheet" type="text/css" href={{ static_url("css/custom.css") }} />
		<script type="text/javascript" src={{ static_url("js/jquery.js") }}></script>
		<script type="text/javascript" src={{ static_url("js/fml.js") }}></script>
		<!--[if !IE 7]>
			<style type="text/css">
				#container {display:table;height:100%}
			</style>
		<![endif]-->
		<title>{% block title %}FMLFeed - Alpha{% end %}</title>
	</head>
	<body>
		<div id="container">
			<div id="content">
				<div id="header">
					<h1><a href="http://localhost:8888">FMLFeed</a></h1>
				</div>
				<div id="feed">
					{% block content %}
					<table id="table">
						{% for post in posts %}
							{% if "message" in post and len(post["message"]) > 10 %}
								{{ modules.Fml(post) }}
							{% end %}
						{% end %}
					</table>
					<input type="hidden" value={{ url }} id="next" name="next" autocomplete="off" />
					<div id="ajax">
						<img class="ajax" src={{ static_url("images/ajax-loader.gif") }} />
					</div>
					<a class="button" href="" onclick="return false;"><span class="load">&#9660; Load older posts</span></a>
					{% end %}
				</div>
			</div>
		</div>
		<div id="footer">
			<ul id="footer-nav">
				<li><a href="http://www.craigsc.com">About</a></li>
				<li><a href="mailto:craig@craigsc.com">Contact</a></li>
			</ul>
			© 2010 Craig Campbell. All Rights Reserved.
		</div>
	</body>
</html>