<tr>
	<td class="profile-pic">
		<a href="http://www.facebook.com/profile.php?id={{ escape(post["from"]["id"]) }}" target="_blank">
			<img id="pic" src="http://graph.facebook.com/{{ post["from"]["id"] }}/picture?type=large" />
		</a>
	</td>
	<td>
		<div class="entry">
			
			<span class="message">{{ escape(post["message"]) }}</span>
			<div class="status_info"> 
				<a href="http://www.facebook.com/profile.php?id={{ escape(post["from"]["id"]) }}" target="_blank">
					{{ escape(post["from"]["name"]) }}
				</a> <span class="timestamp">{{ post["created_time"] }}</span> <fb:like href="http://fmlfeed.com/{{ idTo36(post["id"]) }}" layout="button_count" font="arial"></fb:like>
			</div>	
			<hr style="margin-top: 5px;"/>
		</div>
	</td>
</tr>
<script>
	$("#pic").one("load",function(){
		$('.profile-pic').width($('#pic').width());
	}).each(function(){
		if(this.complete || (jQuery.browser.msie && parseInt(jQuery.browser.version) == 6)) 
			$(this).trigger("load");
	});
</script>