<tr>
	<td class="profile-pic-large" align="center">
		<a href="http://www.facebook.com/profile.php?id={{ escape(post["from"]["id"]) }}" target="_blank">
			<img id="pic" src="http://graph.facebook.com/{{ post["from"]["id"] }}/picture?type=large" />
		</a>
	</td>
	<td>
		<div class="entry">
			<span class="message">{{ escape(post["message"]) }}</span>
			<div class="status_info"> 
				<a href="http://www.facebook.com/profile.php?id={{ escape(post["from"]["id"]) }}" target="_blank">
					{{ escape(post["from"]["name"]) }}
				</a> <span class="timestamp">{{ post["created_time"] }}</span>
				<a href="http://twitter.com/share" class="twitter-share-button" data-text="This fml is absolutely hilarious!" data-count="horizontal" data-via="fmlfeed">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				<fb:like href="http://fmlfeed.com/{{ idTo36(post["id"]) }}" layout="button_count" font="arial"></fb:like>
			</div>	
			<hr style="margin-top: 5px;"/>
		</div>
	</td>
</tr>
<script type="text/javascript">
	$("#pic").one("load",function(){
		if ($('#pic').width() != 0)
			$('.profile-pic-large').width($('#pic').width());
	}).each(function(){
		if(this.complete || (jQuery.browser.msie && parseInt(jQuery.browser.version) == 6)) 
			$(this).trigger("load");
	});
</script>