{% extends "index.html" %}

{% block title %}FMLFeed - About{% end %}

{% block nav %}
<li><a href="/"><span class="nav">newest</span></a></li>
<li><a href="about"><span class="nav">about</span></a></li>
{% end %}

{% block content %}
<h1>Team</h1>
<hr/><br/>
FMLFeed was conceived and created by Craig Campbell in November 2010. I am currently a 3rd year computer science student at Georgia Tech with studies focused in AI and Information Networking. I am also an avid hacker and active within the startup community. You can find more information about me at <a href="http://www.craigsc.com">craigsc.com</a> or contact me at <a href="mailto:craig@craigsc.com">craig@craigsc.com</a>.
{% end %}